<div class="box">
  <%= label_tag 'settings_forced_statuses', 'Statuses to force 100% done (comma separated):' %><br/>
  <%= text_field_tag 'settings[forced_statuses]', Setting.plugin_redmine_task_done['forced_statuses'], size: 60 %>
</div>
<div class="box">
  <%= label_tag 'settings_custom_statuses', 'Statuses with customizable % Done (comma separated):' %><br/>
  <%= text_field_tag 'settings[custom_statuses]', Setting.plugin_redmine_task_done['custom_statuses'], size: 60 %>
</div>
<div class="box">
  <%= label_tag 'settings_forced_statuses', 'Statuses to force 100% done (comma separated):' %><br/>
  <%= text_field_tag 'settings[forced_statuses]', Setting.plugin_redmine_task_done['forced_statuses'], size: 60 %>
</div>
<div class="box">
  <%= label_tag 'settings_custom_statuses', 'Statuses with customizable % Done (comma separated):' %><br/>
  <%= text_field_tag 'settings[custom_statuses]', Setting.plugin_redmine_task_done['custom_statuses'], size: 60 %>
</div>
